body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}
.container{
    text-align: center;
}
.result{
    font-size: 3rem;
    color: black;
    background-color: lightseagreen;
    padding: 30px 10;
    border-radius: 5px;
    margin-bottom: 20px;
}
.result span{
    width: 3rem;
}
.button button{
    margin: 0.5rem;
    border: none;
    outline: none;
    height: 43px;
    width: 100px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    background-color: crimson;
}